[Unit]
Description=Socat Serial Emulation for AT (smd8)
After=ql-netd.service

[Service]
ExecStart=SOCAT_PATH -d -d pty,link=/dev/ttyIN2,raw,echo=0,group=20,perm=660 pty,link=/dev/ttyOUT2,raw,echo=0,group=20,perm=660
ExecStartPost=/bin/sleep 2s
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
